.hero, footer {
  background-color: #1F2937;
}

footer {
  text-align: center;
  color: #F9FAF8;
}

.hero, main p {
  /* font-size: 48px; */
  font-weight: bolder;
  color: #F9FAF8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px;
}


.secondary, a {
  font-size: 18px;
  color: #E5E7EB;
}

a {
  text-decoration: none;
}

#logo {
  font-size: 24px;
  color: #F9FAF8;
}

#menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
}